swagger: '2.0'
info:
  title: API de Chat
  description: >-
    ## API desenvolvida como APS de Redes da UNIP no 5.o Semestre de Ciências da Computação (Jan/2017).
  version: '0.1beta'
  contact:
    name: Eduardo Araujo
    url: http://github.com/eduardoaraujo9
schemes:
  - http
host: unip.nunes.net.br
basePath: /CC5/APS/unip-aps5/api
produces:
  - application/json
  - application/xml
  - text/plain
  - text/html
consumes:
  - application/x-www-form-urlencoded
paths:
  /login:
    post:
      tags:
        - Login
      summary: Registra um usuário no sistema.
      description: Valida o email e a senha de um usuário, recebe um token de acesso.
      parameters:
        - name: email
          in: formData
          description: email do usuario
          required: true
          type: string
        - name: senha
          in: formData
          description: senha do usuario
          required: true
          type: string
          format: password
      responses:
        '200':
          description: Token de Acesso
          schema:
            $ref: '#/definitions/AccessToken'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
securityDefinitions:
  access_token:
    type: apiKey
    description: Chave identificadora do cliente, obtida agravés da `API de Login`
    name: access_token
    in: header
definitions:
  AccessToken:
    type: object
    properties:
      access_token:
        type: string
        description: Token de acesso à API.
  Funcionarios:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Código de identificação do funcionário.
      nome:
        type: string
        description: Nome do funcionário.
  Funcionario:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Código de identificação do funcionário.
      nome:
        type: string
        description: Nome do funcionário.
      telefone:
        type: string
        description: Telefone do funcionário.
      cargo:
        type: string
        description: Cargo do funcionário.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: Código do erro.
      desc:
        type: string
        description: Descrição curta do erro.
      message:
        type: string
        description: Descrição detalhada do erro.
      fields:
        type: string
        description: Parâmetros referentes ao erro

