swagger: '2.0'
info:
  title: API de Chat
  description: >-
    ## API desenvolvida como APS de Redes da UNIP no 5.o Semestre de Ci&ecirc;ncias da Computa&ccedil;&atilde;o (Jan/2017).
  version: '0.2'
  contact:
    name: Eduardo Araujo
    email: spamproedu@outlook.com
    url: http://github.com/eduardoaraujo9
schemes:
  - http
host: unip.nunes.net.br
basePath: /CC5/APS/unip-aps5/api
produces:
  - application/json
  - application/xml
  - text/plain
  - text/html
consumes:
  - application/json
  - application/x-www-form-urlencoded
  - application/xml
paths:
  /login:
    post:
      tags:
        - Login
      summary: Registra um usu&aacute;rio no sistema.
      description: Valida o email e a senha de um usu&aacute;rio, recebe um token de acesso.
      parameters:
        - name: email
          in: formData
          description: email do usu&aacute;rio
          required: true
          type: string
        - name: senha
          in: formData
          description: senha do usu&aacute;rio
          required: true
          type: string
          format: password
      responses:
        '200':
          description: Token de Acesso
          schema:
            $ref: '#/definitions/AccessToken'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
  /config/perfil:
    post:
      tags:
        - Config
      summary: Configura o perfil de um usu&aacute;rio no sistema.
      description: Define o nome, email e/ou a senha de um usu&aacute;rio do sistema, recebe de retorno o perfil do usu&aacute;rio.
      parameters:
        - name: nome
          in: formData
          description: nome do usu&aacute;rio
          type: string
        - name: email
          in: formData
          description: email do usu&aacute;rio
          type: string
        - name: senha
          in: formData
          description: senha do usu&aacute;rio
          type: string
      responses:
        '200':
          description: Perfil do Usuario
          schema:
            $ref: '#/definitions/Usuario'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - Config
      summary: Obt&eacute;m o perfil de um usu&aacute;rio no sistema.
      description: Recebe o id, o nome, o email e a &uacute;ltima atualiza&ccedil;&atilde;o de um usu&aacute;rio do sistema, recebe de retorno o perfil do usu&aacute;rio.
      responses:
        '200':
          description: Perfil do Usuario
          schema:
            $ref: '#/definitions/Usuario'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
  /msg:
    post:
      tags:
        - Mensagem
      summary: Mensagens enviadas no sistema.
      description: Envia ou recebe as mensagens do sistema.
      parameters:
        - name: dados
          in: formData
          description: Mensagem a ser enviada no sistema.
          type: string
        - name: tipo
          in: formData
          description: Tipo de mensagem enviada no sistema.
          type: integer
          format: int32
        - name: lastupdate
          in: formData
          description: Solicita mensagens posteriores a essa &uacute;ltima atualiza&ccedil;&atilde;o.
          type: string
      responses:
        '200':
          description: Mensagem de Chat
          schema:
            $ref: '#/definitions/Chat'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
    get:
      tags:
        - Mensagem
      summary: Mensagens enviadas no sistema.
      description: Recebe as mensagens do sistema, a partir da &uacute;ltima mensagem enviada que foi registrada no sistema.
      responses:
        '200':
          description: Mensagem de Chat
          schema:
            $ref: '#/definitions/Chat'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
      security:
        - api_key: []
securityDefinitions:
  api_key:
    type: apiKey
    description: Chave identificadora do cliente, obtida atrav&eacute;s da `API de Login`
    name: access_token
    in: header
definitions:
  AccessToken:
    type: object
    properties:
      access_token:
        type: string
        description: Token de acesso &agrave; API.
  Usuario:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Id do usu&aacute;rio.
      nome:
        type: string
        description: Nome do usu&aacute;rio.
      email:
        type: string
        description: Email do usu&aacute;rio.
      senha:
        type: string
        description: Senha do usu&aacute;rio.
      lastupdate:
        type: string
        description: Data da &uacute;ltima atualiza&ccedil;&atilde;o feita pelo usu&aacute;rio.
  Chat:
    type: object
    properties:
      id:
        type: integer
        format: int32
        description: Id do chat.
      nome:
        type: string
        description: Nome do usu&aacute;rio do chat.
      hora:
        type: string
        description: Hor&aacute;rio da mensagem do chat.
      tipo:
        type: integer
        format: int32
        description: Tipo da mensagem.
      dados:
        type: string
        description: Mensagem do chat.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: C&oacute;digo do erro.
      desc:
        type: string
        description: Descri&ccedil;&atilde;o curta do erro.
      message:
        type: string
        description: Descri&ccedil;&atilde;o detalhada do erro.
      fields:
        type: string
        description: Par&acirc;metros referentes ao erro.
