swagger: '2.0'
info:
  title: API de Chat
  description: >-
    ## API desenvolvida como APS de Redes da UNIP no 5.o Semestre de Ci&ecirc;ncias da Computa&ccedil;&atilde;o (Jan/2017).
  version: '0.1beta'
  contact:
    name: Eduardo Araujo
    url: http://github.com/eduardoaraujo9
schemes:
  - http
host: unip.nunes.net.br
basePath: /CC5/APS/unip-aps5/api
produces:
  - application/json
  - application/xml
  - text/plain
  - text/html
consumes:
  - application/json
  - application/x-www-form-urlencoded
  - application/xml
paths:
  /login:
    post:
      tags:
        - Login
      summary: Registra um usu&aacute;rio no sistema.
      description: Valida o email e a senha de um usu&aacute;rio, recebe um token de acesso.
      parameters:
        - name: email
          in: formData
          description: email do usu&aacute;rio
          required: true
          type: string
        - name: senha
          in: formData
          description: senha do usu&aacute;rio
          required: true
          type: string
          format: password
      responses:
        '200':
          description: Token de Acesso
          schema:
            $ref: '#/definitions/AccessToken'
        default:
          description: Acesso Negado
          schema:
            $ref: '#/definitions/Error'
securityDefinitions:
  access_token:
    type: apiKey
    description: Chave identificadora do cliente, obtida atrav&eacute;s da `API de Login`
    name: access_token
    in: header
definitions:
  AccessToken:
    type: object
    properties:
      access_token:
        type: string
        description: Token de acesso &agrave; API.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: C&oacute;digo do erro.
      desc:
        type: string
        description: Descri&ccedil;&atilde;o curta do erro.
      message:
        type: string
        description: Descri&ccedil;&atilde;o detalhada do erro.
      fields:
        type: string
        description: Par&acirc;metros referentes ao erro.
